<template name="ApplicationLayout">
<header>
  <title>Chatpen</title>
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</header>

<body>
  <header>
      <nav role="navigation" class="color">
        <div class="nav-wrapper container">
            <a href="/" id="logo-container" class="brand-logo">Chatpen</a>
            <ul class="right">
            <li><a href=""><i class="material-icons left">search</i>Friends</a></li>
                <li>{{> loginButtons align=right}}</li>
            </ul>
        </div>
      </nav>
</header>
</body>
    <main>
        {{> yield}}
    </main>
    
</template>
