<template name="welcome">
<h1>Please Type</h1>
    <form class="name-form">
        <input type="text" name="firstname">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
    <ul>  
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                 {{#each posts}}
              <span class="card-title">{{username}}</span>
              <p>{{name}}</p>
                {{/each}} {{> friends}}
            </div>
          </div>
        </div>
      </div>
    </ul>
</template>
<template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 300px;">
            <div class="card-panel">
                <h2 class="txt">Friends list</h2>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{#each listUser}}
                <p id="userNameOnList"> {{username}}</p>
                {{/each}}
            </tr>
        </thead>
    </table>
</template>